// 科技感字体
@font-face {
  font-family: 'tech-font-1';
  src: url('../../assets/fonts/DS-DIGI.TTF') format('truetype'),
       url('../../assets/fonts/DS-DIGIB.TTF') format('truetype'),
       url('../../assets/fonts/DS-DIGII.TTF') format('truetype'),
       url('../../assets/fonts/DS-DIGIT.TTF') format('truetype');
}
@font-face {
  font-family: 'tech-font-2';
  src: url('../../assets/fonts/techno_hideo_bold.ttf') format('truetype'),
       url('../../assets/fonts/techno_hideo.ttf') format('truetype'),
}

@font-face {
  font-family: 'tech-font-text-1';
  src: url('../../assets/fonts/PressStart2P-Regular.ttf') format('truetype'),
}
